<!-- Albums Table -->
<div class="container mt-2">
    <div class="row mt-2">
        <div class="col-4">
            <h2 class="text-secondary font-weight-bold">Albums</h2>
        </div>
        <div class="col-8 text-right">
            <div class="btn-group">
                <div class="form-inline">
                    <input #inputHolderName id="inputHolderNameField" type="text" placeholder="Search by holder..." spellcheck="false" class="form-control mr-2"
                        (keyup.enter)="searchAlbumsByHolder(inputHolderName.value)">
                </div>
                <div class="form-inline">
                    <input #inputDecimalNumber id="inputDecimalNumberField" type="text" placeholder="Search albums..." spellcheck="false" class="form-control"
                        (keyup.enter)="searchAlbumsByDecimal(inputDecimalNumber.value)">
                </div>
                <button [hidden]="!isLoggedIn()" (click)="makeAlbumAddFormGroup()" class="btn btn-info ml-2" data-toggle="modal" data-target="#addAlbumModal">
                  <i class="fas fa-plus"></i> Add Album
                </button>
            </div>
        </div>
    </div>
    <table *ngIf="albums?.length > 0" class="table">
        <thead class="thead-dark">
            <tr align="center">
                <th>Decimal Number</th>
                <th>Stamp</th>
                <th [hidden]="!isLoggedIn()">Location</th>
                <th>Holder</th>
                <th>Department</th>
                <th>Phone Number</th>
                <th [hidden]="!isLoggedIn()">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tempAlbum of albums" align="center">
                <td class="align-middle">{{ tempAlbum.decimalNumber }}</td>
                <td class="align-middle">{{ tempAlbum.stamp }}</td>
                <td  class="align-middle" [hidden]="!isLoggedIn()">{{ tempAlbum.location }}</td>
                <td class="align-middle">{{ tempAlbum.holder.name }}</td>
                <td class="align-middle">{{ tempAlbum.holder.department.name }}</td>
                <td class="align-middle">{{ tempAlbum.holder.phoneNumber }}</td>
                <td class="align-middle" [hidden]="!isLoggedIn()">
                    <button (click)="prepareAlbumEditFormGroup(tempAlbum)" class="btn btn-outline-info btn-sm" title="Update Album" data-toggle="modal" data-target="#editAlbumModal">
                        <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                    </button>      
                    <button (click)="deleteAlbum(tempAlbum.id, tempAlbum.decimalNumber)" class="btn btn-outline-danger btn-sm ml-1" title="Delete Album"><i class="fas fa-trash" aria-hidden="true"></i></button>     
                </td>
            </tr>
        </tbody>
    </table>

    <!-- if albums is empty then display a message -->
    <div *ngIf="albums?.length == 0" class="container">
        <div class="row">
            <h4 class="alert alert-warning col-md-12">No albums found.</h4>
        </div>
    </div>

    <!-- pagiantion -->
    <div class="footer-pagination">
        <div class="row mt-3">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-9" style="padding-left: 30%">
                        <ngb-pagination [(page)]="pageNumber" 
                                        [pageSize]="pageSize" 
                                        [collectionSize]="totalElements"
                                        [maxSize]="5"
                                        [boundaryLinks]="false"
                                        (pageChange)="getAlbumsPage()">
                        </ngb-pagination>
                    </div>

                    <div class="col-md-3 mt-2 text-right">
                        <span class="mr-2">Page Size</span>
                        <select (change)="updatePageSize($event.target.value)">
                            <option>1</option>
                            <option selected="true">5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Album Add Modal Form -->
<div *ngIf="isLoggedIn()" class="modal draggable fade bd-example-modal-lg" id="addAlbumModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">New Album</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <div>
                    <form [formGroup]="albumAddFormGroup" (ngSubmit)="onAddNewAlbum()">
                        <div formGroupName="album" class="text-left">
                            <div class="form-group">
                                <label for="decimalNumber">Album Decimal Number</label>
                                <input formControlName="decimalNumber" type="text" class="form-control" placeholder="Album Decimal Number">
                                <div *ngIf="decimalNumber.invalid && (decimalNumber.dirty || decimalNumber.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="decimalNumber.errors.required || decimalNumber.errors.notOnlyWhitespace">
                                        Decimal Number is required
                                    </div>
                                    <div *ngIf="decimalNumber.errors.minlength">
                                        Decimal Number must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="stamp">Album Stamp</label>
                                <select formControlName="stamp" class="form-control">
                                    <option value="" selected disabled hidden>Album Stamp</option>
                                    <option value="I_STAMP">I Stamp</option>
                                    <option value="II_STAMP">II Stamp</option>
                                    <option value="V_STAMP">V Stamp</option>
                                </select>
                                <div *ngIf="stamp.invalid && (stamp.dirty || stamp.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="stamp.errors.required">
                                        Stamp is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="department">Album Holder Department</label>
                                <select formControlName="department" class="form-control" (change)="getEmployees('albumAddFormGroup')">
                                    <option value="" selected disabled hidden>Album Holder Department</option>
                                    <option *ngFor="let department of departments" [ngValue]="department">
                                        {{ department.name }}
                                    </option>
                                </select>
                                <div *ngIf="department.invalid && (department.dirty || department.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="department.errors.required">
                                        Department is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="holder">Album Holder</label>
                                <select formControlName="holder" class="form-control">
                                    <option value="" selected disabled hidden>Album Holder</option>
                                    <option *ngFor="let employee of employees" [ngValue]="employee">
                                        {{ employee.name }}
                                    </option>
                                </select>
                                <div *ngIf="holder.invalid && (holder.dirty || holder.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="holder.errors.required">
                                        Holder is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info btn-block">Save</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="album-add-modal-close" >Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Album Edit Modal Form -->
<div *ngIf="isLoggedIn()" class="modal draggable fade bd-example-modal-lg" id="editAlbumModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Edit Album: {{ decimalNumberEdited.value }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <div>
                    <form [formGroup]="albumEditFormGroup" (ngSubmit)="onUpdateAlbum()">
                        <div formGroupName="album" class="text-left">
                            <div class="form-group">
                                <label for="decimalNumberEdited">Album Decimal Number</label>
                                <input formControlName="decimalNumberEdited" type="text" class="form-control" placeholder="Album Decimal Number">
                                <div *ngIf="decimalNumberEdited.invalid && (decimalNumberEdited.dirty || decimalNumberEdited.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="decimalNumberEdited.errors.required || decimalNumberEdited.errors.notOnlyWhitespace">
                                        Decimal Number is required
                                    </div>
                                    <div *ngIf="decimalNumberEdited.errors.minlength">
                                        Decimal Number must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="stampEdited">Album Stamp</label>
                                <select formControlName="stampEdited" class="form-control">
                                    <option value="" selected disabled hidden>Album Stamp</option>
                                    <option value="I_STAMP">I Stamp</option>
                                    <option value="II_STAMP">II Stamp</option>
                                    <option value="V_STAMP">V Stamp</option>
                                </select>
                                <div *ngIf="stampEdited.invalid && (stampEdited.dirty || stampEdited.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="stampEdited.errors.required">
                                        Stamp is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="department">Album Holder Department</label>
                                <select formControlName="departmentEdited" class="form-control" (change)="getEmployees('albumEditFormGroup')">
                                    <!-- <option value="" selected disabled hidden>Album Holder Department</option> -->
                                    <option *ngFor="let department of departments" [ngValue]="department">
                                        {{ department.name }}
                                    </option>
                                </select>
                                <div *ngIf="departmentEdited.invalid && (departmentEdited.dirty || departmentEdited.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="departmentEdited.errors.required">
                                        Department is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="holderEdited">Album Holder</label>
                                <select formControlName="holderEdited" class="form-control">
                                    <option value="" selected disabled hidden>Album Holder</option>
                                    <option *ngFor="let employee of employees" [ngValue]="employee">
                                        {{ employee.name }}
                                    </option>
                                </select>
                                <div *ngIf="holderEdited.invalid && (holderEdited.dirty || holderEdited.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="holderEdited.errors.required">
                                        Holder is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info btn-block">Save</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="album-edit-modal-close" >Close</button>
            </div>
        </div>
    </div>
</div>